<div class="container">
    <header>
      <nav>
        <div class="logo-pinterest">
            <img src="../static/img/logo.png" alt="logo" width="30px" height="30px">
          <h1>Matherest</h1>
        </div>

        <div class="restante-nav">
          <a href="" class="link-nav">Sobre</a>
          <a href="" class="link-nav">Contato</a>
          <a href="" class="link-nav">Blog</a>
        </div>
      </nav>
    </header>

    <img src="{{ url_for('static', filename='img/fundo-login.png')}}" class="bg-imagem-pinterest" />
    
    