{% extends "base.html" %}

{%block title %}
    Perfil
{% endblock %}

{%block body %}

    <h1>Perfil: {{ user.username }}</h1>   <br>
    <a href="{{ url_for('logout') }}"> Sair </a>
    <br>
    
    {% if form %}
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }} 
            {{ form.photo() }}
            {{ form.button_confirm() }}
        </form>
    {% endif %}

    {% for photo in user.photos %}
        <img src="{{ url_for('static', filename='photos_posts/{}'.format(photo.image))}}">  
    {% endfor %}

    {% if not user.photos %}
        <img src="{{ url_for('static', filename='photos_posts/default.png') }}">
    {% endif %}

{% endblock %}
    